{# app/Resources/views/site/home.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}
    Accueil | {{ parent() }}
{% endblock %}

{% block content %}
    <div class="gsquad-intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="gsquad-header-title">
                        <h1 class="text-center">Nos amis les oiseaux</h1>
                        <hr class="gsquad-small">
                        <h2 class="text-center">Participez à une aventure pas comme les autres</h2>

                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="container">



        <div class="row">
            <h2 class="text-center">Les dernières observations</h2>

            {% for obs in lastObs %}

                <div class="col-md-4">
                    <div class="thumbnail">
                        {% if obs.photo %}
                            <img class="img-observation" src="{{ asset('uploads/images/' ~ obs.getPhoto.imgUrl) }}"/>
                        {% else %}
                            <img class="img-observation" src="{{ asset('bundles/gsquadpiaf/image/no_image.jpg') }}"/>
                        {% endif %}
                        <div class="caption">

                            <h3>{{ obs.piaf.nameVern }}, {{ obs.departement }}</h3>
                            <p><a class="btn btn-primary" href="{{ path('observations', {'id': obs.piaf.id}) }}">Voir l'observation</a></p>
                        </div>

                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-md-6 text-center">
                <img src="" alt="" class="pull-right">
                <h2>Nos Amis les Oiseaux</h2>
                <p>
                    Cras a arcu vitae dui consequat porta. Suspendisse neque felis, malesuada ut gravida vitae, mollis
                    ut est. Morbi eu sagittis nisl. Vivamus a mi tempus, faucibus erat vel, rutrum sem. Ut interdum
                    sapien vitae nibh vestibulum rutrum. Fusce malesuada lacus vel eros varius, sit amet fringilla quam
                    suscipit. Suspendisse fringilla tellus vel maximus fermentum. Nunc ornare velit lacinia varius
                    efficitur.
                </p>
                <ul class="list-inline">
                    <li><a href="{{ path('about') }}" title="En savoir plus">En savoir plus</a></li>
                    <li><a href="{{ path('adhesion') }}" title="Adhérer à l'association">Adhérer à l'association</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 text-center">
                <h2>Ajoutez vos propres observations !</h2>
                <p>
                    Cras a arcu vitae dui consequat porta. Suspendisse neque felis, malesuada ut gravida vitae, mollis
                    ut est. Morbi eu sagittis nisl. Vivamus a mi tempus, faucibus erat vel, rutrum sem. Ut interdum
                    sapien vitae nibh vestibulum rutrum. Fusce malesuada lacus vel eros varius, sit amet fringilla quam
                    suscipit. Suspendisse fringilla tellus vel maximus fermentum. Nunc ornare velit lacinia varius
                    efficitur.
                </p>
                <a href="#" title="Ajouter une observation">Ajouter une observation</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-center">
                <p>
                    Inscrivez-vous à notre newsletter et recevez les dernières informations de l'association !
                </p>
                <!-- form newsletter mailchimp -->
            </div>
            <div class="col-md-4 col-sm-6">
                <img src="{{ asset('assets/img/merle.jpg') }}" alt="Merle" class="img-responsive">
            </div>
            <div class="col-md-4 col-sm-6">
                <p class="text-center">
                    Rejoignez notre communauté, et échangez sur notre blog. <br>
                    <a href="{{ path('blog') }}" title="Blog">Blog</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}

