<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block stylesheets %}
        <!-- Bootstrap -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">
    {% endblock %}
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

{% block header %}
    {% include 'navbar/index.html.twig' %}
{% endblock %}

{% block content %}{% endblock %}

{% block footer %}
    {% include 'footer/index.html.twig' %}
{% endblock %}

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ asset('assets/jquery/dist/jquery.min.js') }}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->

    <script src="{{ asset('assets/bootstrap/dist/js/bootstrap.min.js') }}"></script>

{% block javascripts %}
    <script>
        $(document).ready(function(){
            var timer;

            $("#navbar-search").on('keyup', function() {
                clearTimeout(timer);
                timer = window.setTimeout(function() {
                    var input = $("#navbar-search").val();
                    if ( input.length >= 2 ) {
                        $('#navbar-match').html('<img src="' + window.loader + '" />');
                        var data = {input: input};
                        $.ajax({
                            type: "POST",
                            url: '{{ path('ajax_autocomplete') }}',
                            data: data,
                            dataType: 'json',
                            timeout: 8000,
                            success: function(response){
                                $('#navbar-match').css("border", "black 1px solid");
                                $('#navbar-match').html(response.speciesList);
                                $('#match-list li').on('click', function() {
                                    $('#navbar-search').val($(this).text());
                                    $('#navbar-match').text('');
                                    $('#navbar-match').css("border", "none");
                                });
                            },
                            error: function() {
                                $('#navbar-match').text('Erreur');
                            }
                        });
                    } else {
                        $('#navbar-match').text('');
                    }
                }, 1000);
            });
        });
    </script>
    <script>
        var loader = "{{ asset('bundles/gsquadpiaf/image/loader.gif') }}"; //link to the animated loader-small.gif
    </script>
{% endblock %}

</body>
</html>
