{# app/Resources/views/admin/home.html.twig #}

{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/gsquadadmin/css/selectize.default.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/gsquadadmin/css/admin.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}
    Mailing | {{ parent() }}
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center">Système de mailing</h1>
        {% for flash_message in app.session.flashBag.get('info') %}
            <div class="alert alert-success alert-dismissible fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{ flash_message }}
            </div>
        {% endfor %}

        <section>
            {{ form_start(form) }}
            {% form_theme form.email 'Form/gsquad_fields.html.twig' %}

            <div class="form-group">
                {{ form_label(form.email) }}
                {{ form_widget(form.email) }}
            </div>
            {{ form_row(form.subject) }}

            {{ form_row(form.message, {attr: {'rows': 10}}) }}

            {{ form_end(form) }}
        </section>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/gsquadadmin/js/standalone/selectize.min.js') }}"></script>
    <script type="text/javascript">
        var REGEX_EMAIL = '([a-z0-9!#$%&\'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&\'*+/=?^_`{|}~-]+)*@' +
            '(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?)';

        var email_adherents = [];
        {% for adherent in adherents %}
            email_adherents.push({{ adherent.email|json_encode|raw }});
        {% endfor %}
        var emails_adh = email_adherents.join(',');
        var adherents = {
            name: "Groupe adhérents",
            email: emails_adh
        };

        var emails_chercheurs = [];
        {% for chercheur in chercheurs %}
            emails_chercheurs.push({{ chercheur.email|json_encode|raw }});
        {% endfor %}
        var emails_cherch = emails_chercheurs.join(',');
        var chercheurs = {
            name: "Groupe chercheurs",
            email: emails_cherch
        };

        var email_admins = [];
        {% for admin in admins %}
        email_admins.push({{ admin.email|json_encode|raw }});
        {% endfor %}
        var emails_ad = email_admins.join(',');
        var admins = {
            name: "Groupe admins",
            email: emails_ad
        };

        var options= [
            adherents, chercheurs, admins
        ];
        var users = [];
        users = {{ users|json_encode|raw }};

        {% for user in users %}
            var user = {
                email: {{ user.email|json_encode|raw }},
                name: {{ user.username|json_encode|raw }}
            };
            options.push(user);
        {% endfor %}

        $('#mailing_email').selectize({
            persist: false,
            plugins: ['remove_button'],
            maxItems: null,
            valueField: 'email',
            labelField: 'name',
            searchField: ['name', 'email'],
            options: options,
            render: {
                item: function(item, escape) {
                    return '<div>' +
                        (item.name ? '<span class="name">' + escape(item.name) + '</span> ' : '') +
                        (item.email ? '<span class="email">' + escape(item.email) + '</span>' : '') +
                        '</div>';
                },
                option: function(item, escape) {
                    var label = item.name || item.email;
                    var caption = item.name ? item.email : null;
                    return '<div>' +
                        '<span class="label name">' + escape(label) + '</span>' +
                        (caption ? '<span class="caption">' + escape(caption) + '</span>' : '') +
                        '</div>';
                }
            },
            createFilter: function(input) {
                var match, regex;

                // email@address.com
                regex = new RegExp('^' + REGEX_EMAIL + '$', 'i');
                match = input.match(regex);
                if (match) return !this.options.hasOwnProperty(match[0]);

                // name <email@address.com>
                regex = new RegExp('^([^<]*)\<' + REGEX_EMAIL + '\>$', 'i');
                match = input.match(regex);
                if (match) return !this.options.hasOwnProperty(match[2]);

                return false;
            },
            create: function(input) {
                if ((new RegExp('^' + REGEX_EMAIL + '$', 'i')).test(input)) {
                    return {email: input};
                }
                var match = input.match(new RegExp('^([^<]*)\<' + REGEX_EMAIL + '\>$', 'i'));
                if (match) {
                    return {
                        email : match[2],
                        name  : $.trim(match[1])
                    };
                }
                alert('Adresse email invalide');
                return false;
            }
        });

        $('#mailing_destinataires_0').change(function(){
            if(this.checked) {
                $('.selectize-input').prepend( '<div id="adherents">Adhérents</div>');
            } else {
                $('#adherents').remove();
            }
        });
        $('#mailing_destinataires_1').change(function(){
            if(this.checked) {
                $('.selectize-input').prepend( '<div id="chercheurs">Chercheurs</div>' );
            } else {
                $('#chercheurs').remove();
            }
        });
        $('#mailing_destinataires_2').change(function(){
            if(this.checked) {
                $('.selectize-input').prepend( '<div id="admins">Admins</div>' );
            } else {
                $('#admins').remove();
            }
        });
    </script>
{% endblock %}