{# app/Resources/views/blog/index.html.twig #}

{% extends 'base.html.twig' %}

{% block content %}
    {{ render(controller('GsquadBlogBundle:Blog:navigationBlog')) }}

    {% block section %}
        <section>
            {% for post in posts %}
                <article>
                    <h1>{{ post.title }}</h1>
                    <div>{{ post.content }}</div>
                    <div class="row">
                        Le {{ post.creationDate | date('d/m/Y') }} par {{ post.author }}
                        <a href="{{ path('single_post', {'slug': post.slug}) }}" title="">Lire la suite</a>
                    </div>
                    <div>
                        Dernier commentaire
                        <!-- Dernier commentaire avec content, date, auteur-->
                    </div>
                </article>
            {% endfor %}
        </section>
    {% endblock %}

{% endblock %}
