{# app/Resources/views/blog/index.html.twig #}

{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/gsquadblog/css/blog.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container-fluid">
        {{ render(controller('GsquadBlogBundle:Blog:navigationBlog')) }}

        {% block section %}
        <section>
            {% for article in posts %}
                <article class="row post-block">
                    <h1>{{ article.title }}</h1>
                    <p>{{ article.content|striptags|slice(0, 500) ~ '...' }}</p>
                    <span>Le {{ article.creationDate | date('d/m/Y') }} par {{ article.author }}</span>
                    <span class="pull-right"><a href="{{ article.slug }}" class="btn btn-default">Lire la suite</a></span>
                    <div class="last-comment">

                    </div>
                </article>

            {% endfor %}

            {# display navigation #}
            {% include 'blog/pagination.html.twig' %}
        </section>
    </div>

    {% endblock %}

{% endblock %}
