{# app/Resources/views/blog/index.html.twig #}

{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/gsquadblog/css/blog.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container-fluid">
        {{ render(controller('GsquadBlogBundle:Blog:navigationBlog')) }}

        {% block section %}
        <section>
            {% for post in posts %}
                <article class="row post-block">
                    <h1>{{ post.title }}</h1>
                    <p>{{ post.content|striptags|slice(0, 500) ~ '...' }}</p>
                    <span>Le {{ post.creationDate | date('d/m/Y') }} par {{ post.author }}</span>
                    <span class="pull-right"><a href="{{ path('single_post', {'slug': post.slug}) }}" class="btn btn-default">Lire la suite</a></span>
                    {% set lastComment = post.comments|first %}
                        {% if lastComment %}
                            <div class="comments">
                                Dernier commentaire
                                <div class="last-comment">
                                    <p>{{ lastComment.content }}</p>
                                    <span class="pull-right">Le {{ lastComment.creationDate | date('d/m/Y') }} par {{ lastComment.author }}</span>
                                </div>
                            </div>

                        {% endif %}
                </article>

            {% endfor %}

            {# display navigation #}
            {% include 'blog/pagination.html.twig' %}
        </section>
    </div>

    {% endblock %}

{% endblock %}
