{# app/Resources/views/blog/index.html.twig #}

{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/gsquadblog/css/blog.css') }}" rel="stylesheet">
    <!-- Tiny nav for blog navigation -->
    <link href="{{ asset('bundles/gsquadblog/css/tinynav.css') }}" rel="stylesheet">

    <link href="{{ asset('bundles/gsquadblog/css/fileinput.min.css') }}" media="all" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block title %}
    Blog | {{ parent() }}
{% endblock %}

{% block content %}
    <div class="container">
        {{ render(controller('GsquadBlogBundle:Blog:navigationBlog')) }}

        <section>
            {% if title is defined %}
                <h1>{{ title }}</h1>
            {% endif %}
            {% block section %}
                {% if posts.count is not sameas(0) %}
                    {% for post in posts %}
                        <article class="col-xs-12 post-block bg-light-green">
                            <h2>{{ post.title }}</h2>
                            {% if post.imageName %}
                                <img src="{{ asset(post.webPath) }}" alt="{{ post.imageName }}" width="200px" class="pull-left img-post"/>
                            {% endif %}
                            <p class="post-content">{{ (post.content|striptags|slice(0, 500) ~ '...' )|raw}}</p>
                            <span>Le {{ post.creationDate | date('d/m/Y') }} par {{ post.author }}</span>
                            <span class="pull-right"><a href="{{ path('single_post', {'slug': post.slug}) }}"
                                                        class="btn-a">Lire la suite</a></span>
                            {% set lastComment = post.comments|first %}
                            {% if lastComment %}
                                <div class="comments">
                                    Dernier commentaire
                                    <div class="comment bg-white">
                                        <p>{{ lastComment.content }}</p>
                                        <p class="author">Le {{ lastComment.creationDate | date('d/m/Y') }}
                                            par {{ lastComment.author }}</p>
                                    </div>
                                </div>

                            {% endif %}
                        </article>

                    {% endfor %}
                    {# display navigation #}
                    {% include 'blog/pagination.html.twig' %}
                {% else %}
                    <div class="jumbotron text-center bg-light-green">
                        Il n'y a pas encore d'article !
                    </div>
                {% endif %}
            {% endblock %}
        </section>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/gsquadblog/js/blog.js') }}"></script>
    <!-- Tiny nav for blog navigation -->
    <script src="{{ asset('bundles/gsquadblog/js/tinynav.min.js') }}"></script>
    <script>
        $(function () {
            $("#nav").tinyNav({
                header: 'Catégories'
            });
        });
    </script>

{% endblock %}
