{# app/Resources/views/blog/single.html.twig #}

{% extends 'blog/index.html.twig' %}

{% block title %}
    {{ post.title }} | {{ parent() }}
{% endblock %}

{% block section %}
    <div id="fb-root"></div>
    <div id="fb-root"></div>
    <script>(function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.8&appId=735825999913057";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <article class="post-block col-xs-12 bg-light-green">
        <h1>{{ post.title }}</h1>
        <div class="row">
            <div class="col-xs-12">
                {% if post.imageName %}
                    <img src="{{ asset(post.webPath) }}" alt="{{ post.imageName }}" width="250px"
                         class="pull-left img-post"/>
                {% endif %}
                <div class="post-content">{{ post.content|raw }}</div>
                <p class="author">
                    Le {{ post.creationDate | date('d/m/Y') }} par {{ post.author }}
                </p>
                <div class="text-center">
                    <div class="fb-like" data-href="{{ path('single_post', {'slug': post.slug}) }}" data-layout="button"
                         data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
                </div>
            </div>
        </div>

        <div class="comments bg-white">
            {% for flash_message in app.session.flashBag.get('info') %}
                <div class="alert alert-success alert-dismissible fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{ flash_message }}
                </div>
            {% endfor %}
            {% if post.comments %}
            {% for comment in post.comments %}
                <div class="comment">
                    <p>{{ comment.content }}</p>
                    <p class="author">Le {{ comment.creationDate | date('d/m/Y') }} par {{ comment.author }}</p>
                    <hr/>
                </div>
            {% endfor %}
            <div class="text-center">
                <!--<div>Voir tous les commentaires</div>-->
                {% endif %}
                {% if app.user is not null %}
                    <button id="addComment" class="btn-a">Ajouter un commentaire</button>
                {% else %}
                    <p>Vous devez être connecté pour ajouter un commentaire.</p>
                {% endif %}
            </div>
            <div id="comment-form" class="hide">
                {{ form_start(form) }}
                {{ form_row(form.content) }}
                {{ form_row(form.Commenter, {attr: {'class': 'btn-a'}}) }}
                {{ form_end(form) }}
            </div>
        </div>
    </article>

{% endblock %}
