{# app/Resources/views/blog/single.html.twig #}

{% extends 'blog/index.html.twig' %}

{% block section %}
    <article>
        <h1>{{ post.title }}</h1>
        <div>{{ post.content|raw }}</div>
        <div class="row">
            Le {{ post.creationDate | date('d/m/Y') }} par {{ post.author }}
        </div>
    </article>
    <aside>
        {% for comment in comments %}
            {{ comment.content }}
        {% endfor %}
    </aside>
{% endblock %}
