{# app/Resources/views/blog/single.html.twig #}

{% extends 'blog/index.html.twig' %}

{% block section %}
    <article class="post-block col-xs-12">
        <h1>{{ post.title }}</h1>
        <div class="row">
            <div class="col-xs-12">
                {% if post.imageName %}
                    <img src="{{ asset(post.webPath) }}" alt="{{ post.imageName }}" width="250px" class="pull-left img-post"/>
                {% endif %}
                <div class="post-content">{{ post.content|raw }}</div>
                <p class="author">
                    Le {{ post.creationDate | date('d/m/Y') }} par {{ post.author }}
                </p>
            </div>
        </div>

        <div class="comments bg-white">
            {% for flash_message in app.session.flashBag.get('info') %}
                <div class="alert alert-success alert-dismissible fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{ flash_message }}
                </div>
            {% endfor %}
            {% if post.comments %}
                {% for comment in post.comments %}
                    <div class="comment">
                        <p>{{ comment.content }}</p>
                        <p class="author">Le {{ comment.creationDate | date('d/m/Y') }} par {{ comment.author }}</p>
                        <hr/>
                    </div>
                {% endfor %}
            <div class="text-center">
                <!--<div>Voir tous les commentaires</div>-->
            {% endif %}
                {% if is_granted('ROLE_UTILISATEUR') %}
                    <button id="addComment">Ajouter un commentaire</button>
                {% else %}
                    <p>Vous devez être connecté pour ajouter un commentaire.</p>
                {% endif %}
            </div>
            <div id="comment-form" class="hide">
                {{ form_start(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </article>

{% endblock %}
