{# app/Resources/views/blog/single.html.twig #}

{% extends 'blog/index.html.twig' %}

{% block section %}
    <article class="post-block">
        <h1>{{ post.title }}</h1>
        <div>{{ post.content|raw }}</div>
        <span class="pull-right">
            Le {{ post.creationDate | date('d/m/Y') }} par {{ post.author }}
        </span>
    </article>
    <aside class="comments">
        {% for comment in comments %}
            <p>{{ comment.content }}</p>
            <span class="pull-right">Le {{ comment.creationDate | date('d/m/Y') }} par {{ comment.author }}</span>
        {% endfor %}
        {{ form_start(form) }}
        {{ form_end(form) }}
    </aside>
{% endblock %}
