<footer>
    <div class="container">

        <ul class="nav nav-pills">
            <li><a href="{{ path('conditions_generales') }}" title="Conditions générales">Conditions
                    générales</a></li>
            <li><a href="{{ path('faq') }}" title="Foire aux questions">FAQ</a></li>
            <li><a href="{{ path('mentions_legales') }}" title="Mentions légales">Mentions légales</a></li>
            <li><a href="{{ path('plan_site') }}" title="Plan du site">Plan du site</a></li>
            <li><a href="{{ path('contact') }}" title="Contact">Contact</a></li>
            <li><a href="{{ path('adhesion') }}" title="Adhésion à l'association">Adhérer</a></li>
        </ul>

    </div>
</footer>