{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/gsquadpiaf/css/style.css') }}" rel="stylesheet">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker3.css"/>

{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div id="zone-form" class="col-md-6">
            {{ form_start(form) }}
            {{ form_errors(form) }}

            <div>
                <div class="col-md-6">
                    {{ form_errors(form.latitude) }}
                    {{ form_label(form.latitude, "Latitude :", {'label_attr': {'class': 'control-label'}}) }}
                    {{ form_widget(form.latitude, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="col-md-6">
                    {{ form_errors(form.longitude) }}
                    {{ form_label(form.longitude, "Longitude :", {'label_attr': {'class': 'control-label'}}) }}
                    {{ form_widget(form.longitude, {'attr': {'class': 'form-control'}}) }}
                    <br/>
                </div>

                <div class="erreur-content">
                    <div id="erreur-depts" class="col-md-12">Merci d'entrer des coordonnées se situant sur le territoire
                        français.
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                {{ form_errors(form.city) }}
                {{ form_label(form.city, "Commune associée à l'observation* :", {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.city, {'attr': {'class': 'form-control obligatoire'}}) }}
            </div>

            <div class="col-md-6">
                {{ form_errors(form.departement) }}
                {{ form_label(form.departement, "Département associé à l'observation* :", {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.departement, {'attr': {'class': 'form-control obligatoire'}}) }}
                <br/>
            </div>

            <div class="col-md-6">
                {{ form_errors(form.dateObservation) }}
                {{ form_label(form.dateObservation, "Date de l'observation* :", {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.dateObservation, {'attr': {'class': 'form-control js-datepicker obligatoire'}}) }}
            </div>

            <div class="col-md-6">
                {{ form_errors(form.espece) }}
                {{ form_label(form.espece, "Espèce observée* :", {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.espece, {'attr': {'class': 'form-control obligatoire'}}) }}
                <br/>
            </div>

            <div class="col-md-12 to-hide">
                {{ form_errors(form.especeautre) }}
                {{ form_label(form.especeautre, "Autre* :", {'label_attr': {'class': 'control-label to-hide'}}) }}
                {{ form_widget(form.especeautre, {'attr': {'class': 'form-control to-hide obligatoire'}}) }}
                <br/>
            </div>

            <div class="col-md-12">
                {{ form_errors(form.observateur) }}
                {{ form_label(form.observateur, "Nom de l'observateur :", {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.observateur, {'attr': {'class': 'form-control'}}) }}
                <br/>
            </div>

            <br/>

            <div class="col-md-6">
                {{ form_errors(form.image) }}
                {{ form_label(form.image, "Image associée :") }}
                {{ form_widget(form.image, {'attr': {'class': 'col-xs-12'}}) }}
            </div>

            <div class="col-md-6 text-center">
                <button id="bouton-validation" type="button" class="btn btn-primary" data-toggle="modal"
                        data-target="#fichesaisie">
                    Valider cette observation
                </button>
            </div>
        </div>

        <div class="col-md-6 text-center">
            <div class="row zone-preview">
                <div class="image-holder col-md-6">
                    <img class="img-observation" src="{{ asset('bundles/gsquadpiaf/image/no_image.jpg') }}"
                         alt="Pas d'image"/>
                </div>
                <div class="col-md-6">
                    <h3 class="preview-espece">Espece : non précisée</h3>
                    <p class="preview-date">Observé le : non précisé</p>
                    <p class="preview-observateur">Observé par : non précisé</p>
                    <p class="preview-lieu">Lieu de l'observation : non précisé</p>
                    <p class="preview-geo">Localisation : non précisée</p>
                </div>
            </div>

            <div class="row zone-consigne">
                <h3>Règles à suivre pour une bonne observation</h3>
                <p>
                    Observer les oiseaux dans leur habitat naturel est synonyme de discrétion !<br>
                    Ne vous approchez pas, ne perturbez pas la faune environnante.
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div id="space-bottom"></div>
    </div>

    <div class="modal fade" id="fichesaisie" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content container-fluid">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Nouvelle observation</h4>
                </div>
                <div class="modal-body row">
                    <div class="image-holder col-md-6">
                        <img class="img-observation" src="{{ asset('bundles/gsquadpiaf/image/no_image.jpg') }}"
                             alt="Pas d'image"/>
                    </div>
                    <div class=" col-md-6">
                        <h4 class="preview-espece">Espece : non précisée</h4>
                        <p class="preview-date">Observé le : non précisé</p>
                        <p class="preview-observateur">Observé par : non précisé</p>
                        <p class="preview-lieu">Lieu de l'observation : non précisé</p>
                        <p class="preview-geo">Localisation : non précisée</p>
                    </div>
                </div>
                <div class="modal-footer row">
                    {{ form_widget(form.submit, {'attr': {'class': 'btn-primary'}}) }}
                    <button id="bouton-annuler" type="button" class="btn btn-secondary" data-dismiss="modal">Annuler
                    </button>
                </div>
            </div>
        </div>
    </div>

    {{ form_rest(form) }}
    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/locales/bootstrap-datepicker.fr.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.js-datepicker').datepicker({
                format: 'yyyy-mm-dd',
                language: 'fr-FR',
                endDate: '0d',
                autoclose: true
            });

            $('#zone-form').on('keyup keypress', function (e) {
                var keyCode = e.keyCode || e.which;
                if (keyCode === 13) {
                    e.preventDefault();
                    return false;
                }
            });
        });
    </script>
    <script src="{{ asset('bundles/gsquadpiaf/js/preview.js') }}"></script>
{% endblock %}