{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/gsquadpiaf/css/style.css') }}" rel="stylesheet">


{% endblock %}

{% block content %}

    <div class="container">
        <div class="text-center">
            {% if piaf %}
                <h4>{{ piaf.nameVern }} <i>({{ piaf.lbNom }})</i></h4>
                {% if piaf.photo %}
                    <div class="cover">
                        <img class="img-observation" src="{{ asset('uploads/images/' ~ piaf.getPhoto.imgUrl) }}" />
                    </div>
                {% else %}
                    <div class="cover">
                        <img class="img-observation" src="{{ asset('bundles/gsquadpiaf/image/no_image.jpg') }}" />
                    </div>
                {% endif %}
                <p>Regne : {{ piaf.regne }}</p>
                <p>Phylum : {{ piaf.phylum }}</p>
                <p>Classe : {{ piaf.classe }}</p>
                <p>Ordre : {{ piaf.ordre }}</p>
                <p>Famille : {{ piaf.family }}</p>
                <p>Découvert par : {{ piaf.lbAuteur }}</p>
                <p>Habitat : {{ piaf.habitat }}</p>
                <p>Nom anglais : {{ piaf.nameVernEng }}</p>
            {% else %}
                <p>Aucun résultat</p>
            {% endif %}
        </div>

        <hr/>

        {% if observations %}
            <div class="row">
                {% for observation in observations %}
                    <div class="col-md-4 fiche">
                        {% if observation.photo %}
                            <div class="cover">
                                <img class="img-observation" src="{{ asset('uploads/images/' ~ observation.getPhoto.imgUrl) }}" />
                            </div>
                        {% else %}
                            <div class="cover">
                                <img class="img-observation" src="{{ asset('bundles/gsquadpiaf/image/no_image.jpg') }}" />
                            </div>
                        {% endif %}
                        <p>Lieu de l'observation : {{ observation.city }}, {{ observation.departement }}</p>
                        <p>Observation enregistrée le : {{ observation.createdAt|date('Y-m-d') }}</p>
                        <p>Observateur : {{ observation.observateur }}</p>
                        {% if is_granted('ROLE_CHERCHEUR') or is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN') %}
                            <p>Position : {{ observation.latitude }}° de latitude, {{ observation.longitude }}° de longitude</p>
                        {% endif %}

                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{ observation.id }}">
                            Voir l'observation
                        </button>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>Aucun résultat</p>
        {% endif %}
    </div>


    {% if observations %}
        {% for observation in observations %}
            <!-- Modal -->
            <div class="modal fade" id="{{ observation.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="myModalLabel">{{ observation.city }}, {{ observation.departement }}</h4>
                        </div>
                        <div class="modal-body col-md-12">
                            <div class="col-md-4">
                                {% if observation.getPhoto %}
                                    <div class="cover">
                                        <img class="img-observation" src="{{ asset('uploads/images/' ~ observation.getPhoto.imgUrl) }}" />
                                    </div>
                                {% else %}
                                    <div class="cover">
                                        <img class="img-observation" src="{{ asset('bundles/gsquadpiaf/image/no_image.jpg') }}" />
                                    </div>
                                {% endif %}
                            </div>

                            <div class="col-md-8 text-center">
                                <p>Lieu de l'observation : {{ observation.city }}, {{ observation.departement }}</p>
                                <p>Observation enregistrée le : {{ observation.createdAt|date('Y-m-d') }}</p>
                                <p>Observateur : {{ observation.observateur }}</p>
                                {% if is_granted('ROLE_CHERCHEUR') or is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN') %}
                                    <p>Position : {{ observation.latitude }}° de latitude, {{ observation.longitude }}° de longitude</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>Aucun résultat</p>
    {% endif %}

    <div id="marge-bottom"></div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/gsquadpiaf/js/jquery.bootstrap-touchspin.min.js') }}"></script>

    <script src="{{ asset('bundles/gsquadpiaf/js/autocomplete-species.js') }}"></script>
    <script src="{{ asset('bundles/gsquadpiaf/js/pagination.min.js') }}"></script>
    <script src="{{ asset('bundles/gsquadpiaf/js/paginate-result.js') }}"></script>
{% endblock %}