{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/gsquadpiaf/css/style.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div id="search-content">
        <div id="loading">
            <img id="loading-image" src="{{ asset('bundles/gsquadpiaf/image/loader.gif') }}" alt="Chargement..." />
        </div>

        <p>Quelle espèce d'oiseau recherchez vous ?</p>

        {{ form_start(form) }}
        {{ form_errors(form) }}

        {{ form_errors(form.nameVern) }}
        {{ form_label(form.nameVern, "Terme recherché : ") }}
        {{ form_widget(form.nameVern) }}
        <div id="match"></div>

        {{ form_errors(form.espece) }}
        {{ form_label(form.espece, "Espèce : ") }}
        {{ form_widget(form.espece) }}

        <br/>

        {{ form_errors(form.departement) }}
        {{ form_label(form.departement, "Département : ") }}
        {{ form_widget(form.departement) }}

        <br/>

        {% if is_granted('ROLE_CHERCHEUR') or is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN') %}
            {{ form_errors(form.latitude) }}
            {{ form_label(form.latitude, "Latitude : ") }}
            {{ form_widget(form.latitude) }}

            {{ form_errors(form.longitude) }}
            {{ form_label(form.longitude, "Longitude : ") }}
            {{ form_widget(form.longitude) }}
        {% endif %}

        {{ form_row(form.search, { 'label': 'Lancer la recherche' }) }}
        {{ form_rest(form) }}
        {{ form_end(form, {'render_rest': false}) }}


        {% if list_piafs %}
            <div id="liste-resultats">
                {% for piaf in list_piafs %}
                    <div>
                        {% if piaf.nameVern %}
                            <p>{{ piaf.nameVern }} ({{ piaf.lbNom }})</p>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>Aucun résultat</p>
        {% endif %}


        {% if list_piafs %}
            <div id="data-container"></div>
            <div id="pages">
                <div id="pagination-container"></div>
            </div>
        {% endif %}

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var imgUrl;
        var datas = [];
        var i = 0;
        {% for piaf in list_piafs %}
            imgUrl = '';

            {% if piaf.photo %}
                imgUrl = '{{ piaf.getPhoto.imgUrl }}';
            {% endif %}

            datas[i] = [
                imgUrl,
                '{{ piaf.ordre }}',
                '{{ piaf.family }}',
                '{{ piaf.nameVern }}',
                '{{ piaf.nameVernEng }}',
                '{{ piaf.lbNom }}',
                '{{ piaf.habitat }}',
                '{{ piaf.nbObservations }}'
            ];
            i++;
        {% endfor %}
    </script>
    <script src="{{ asset('bundles/gsquadpiaf/js/autocomplete-species.js') }}"></script>
    <script src="{{ asset('bundles/gsquadpiaf/js/pagination.min.js') }}"></script>
    <script src="{{ asset('bundles/gsquadpiaf/js/paginate-result.js') }}"></script>
{% endblock %}