{% extends 'base.html.twig' %}



{% block body %}
    <p>Quelle espèce d'oiseau recherchez vous ?</p>

    {{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_errors(form.name) }}
    {{ form_label(form.name, "Espèce recherchée : ") }}
    {{ form_widget(form.name) }}
    <div id="match"></div>

    {{ form_row(form.search, { 'label': 'Lancer la recherche' }) }}
    {{ form_end(form) }}

    {% if list_piafs %}
        <div>
            {% for piaf in list_piafs %}
                <div>
                    <p>{{ piaf.name }}</p>
                    <p>{{ piaf.nameVern }}</p>
                    <p>{{ piaf.ordre }}</p>
                </div>
            {% endfor %}
        </div>
    {% endif %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="{{ asset('bundles/gsquadpiaf/js/autocomplete-species.js') }}"></script>
    <script>
        var loader = "{{ asset('bundles/gsquadpiaf/image/loader.gif') }}"; //link to the animated loader-small.gif
    </script>
{% endblock %}